@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    /* height: 100vh; (isso serve pra quando o conteúdo é muito pequeno pra página) */
    background-color:var(--cor-primaria);
    color:var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0 0 11%; /* ordem -> top right bottom left */
}

.cabecalho__menu{
    display: flex;
    gap: 7%;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600px;
    color:var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 4% 11% 3% 11%;
    gap: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
  }

  .destaque-titulo{
    color:var(--cor-terciaria)
}

  .apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
  }

  .apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  .apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400px;
    font-size: 1.5rem;
  }

  .apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    border: 2px solid var(--cor-terciaria);
    color:var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600px;
    font-style:normal;
    padding: 8px;
    text-decoration: none;
  }

  /* mudando a cor da caixinha quando passa o mouse por cima */
  .apresentacao__links__link:hover{
    background-color:var(--cor-hover);    
  }
 
  .apresentacao__imagem{
    width: 50%;
  }

  .rodape{
    color:var(--cor-primaria);
    background-color:var(--cor-terciaria);
    padding: 18px;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
  }

  /* essas alterações somente serão utilizadas caso a condição entre () seja atendida */
  @media (max-width: 1200px) {
    .cabecalho{
      padding: 10%;
    }

    .cabecalho__menu{
      justify-content: center;
    }

    .apresentacao{
      flex-direction: column-reverse;
      padding: 5%;
    }

    .apresentacao__conteudo{
      width: auto;
      text-align: justify;
      text-justify:auto;
    }

    .apresentacao__conteudo__titulo{
      font-size: 150%;
    }

    .apresentacao__conteudo__texto{
      font-size: 150%;
    }

    .apresentacao__links__subtitulo{
      font-size: 120%;
    }
  }